.tag {
  display: flex;
  margin: auto;
  justify-content: left;
  box-shadow: none;
  padding: 0;

  .name {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 26px;
  }
}